#sidebar {
  background-color: #e7e7e7;
  -webkit-box-shadow: inset -2px 0px 8px 1px rgba(199,195,199,1);
  -moz-box-shadow: inset -2px 0px 8px 1px rgba(199,195,199,1);
  box-shadow: inset -2px 0px 8px 1px rgba(199,195,199,1);
}
#sidebar .card {
  margin-top: 1em; 
  margin-bottom: 1em;
}

#LinkedInBadge {
  background-color: #fff;
  margin-bottom: 1rem;
}
.LI-badge-container.horizontal.light {
  width: 100% !important;
}